---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$mk-back:       	#0a0a0a;
$mk-box:        	#0a0a0a;
$mk-inset:      	transparent;
$mk-nav:        	rgba(10,10,10,0.8);
$mk-alpha: 			#cc3333;
$mk-omega: 			#0099cc;
$mk-dark:       	#111;
$mk-primary-dark:	#000000;
$mk-links:			#219ab3;

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$brand-primary: $mk-omega;
$brand-info:    $mk-alpha;

$padding-large-vertical:    10px !default;
$padding-large-horizontal:  16px !default;

$padding-small-vertical:    5px !default;
$padding-small-horizontal:  10px !default;		



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "fonts",
        "navigation",
        "footer",
        "custom",
        "soundcloud",
        "gigs",
        "pictures",
        "contact",
        "merch",
        "reviews"
;
