---
layout: default
---

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div class="section hero">
    <div class="container">
      <div class="row">
        <div class="one-half column">
          <h4 class="hero-heading">The Realist <span class="alpha">&alpha;</span> &amp; The Realist <span class="omega">&Omega;</span><br />in stores now</h4>
          <a href="#sounds" class="button button-primary page-scroll">Listen Now</a>
        </div>
        <div class="one-half column phones">
          <img class="phone" src="{{ site.baseurl }}/images/logo-dark.png">
          <img class="phone u-full-width" src="{{ site.baseurl }}/images/mk_t_shirt.png">
        </div>
      </div>
    </div>
  </div>

  <div id="gigs" class="section">
    <div class="container">
      <div class="row">
        <h1 class='section-heading'>Gigs</h1>
      </div>
      {% include gigs.html %}
      <div class='row'>
        {% include book-us.html %}
      </div>
    </div>
  </div>

  <div id="media" class="section">
    <div class="container">
      <h3 class="section-heading">Media</h3>
      <div class="media-section">
      <h5 class="section-description">biography</h5>
        {% include biography.html %}
        {% include the-band.html %}
      </div>
      <div class="media-section">
      <h5 class="section-description">pictures</h5>
      <div id="pictures">
        {% include blueimp-gallery-widget.html %}
        {% include pictures.html %}
        {% include blueimp-gallery-init.html %}
      </div>
      </div>
      <div class="media-section">
      <h5 class="section-description">sounds</h5>
      <div id="sounds">
        {% include sounds.html %}
      </div>
      </div>
    </div>
  </div>

  <div id="shop" class="section reviews">
    <div class="container">
      <h3 class="section-heading">Merch</h3>
      <p class="section-description">Pick up some Mountain Kid merch at one of our friendly retailers.</p>
      <div class="row">
        <div class="one-half column item-block">
          <h5>T-Shirts</h5>
          <img class="u-max-full-width merch" src="{{ site.baseurl }}/images/mk_t_shirt.jpg">
          <p>Availability :: Come to a <a href="#gigs" class="page-scroll">LIVE SHOW</a> !!</p>
        </div>
        <div class="one-half column item-block">
          <h5>Discography</h5>
          <img class="merch" src="{{ site.baseurl }}/images/sounds/kallipolis.jpg">
          <img class="merch" src="{{ site.baseurl }}/images/sounds/alpha.jpg">
          <img class="merch" src="{{ site.baseurl }}/images/sounds/omega.jpg">
          <p>CDs and Downloads available at retailers everywhere</p>
        </div>
      </div>
      <hr />
      <h3 class="section-heading">Reviews</h3>
        {% include reviews.html %}
    </div>

  <div id="book-the-band" class="container section">
    <div class="row">
      <div class="twelve columns">
        <h1 class='main-title'>Contact Us</h1>
        {% include book-the-band.html %}
      </div>
    </div>
  </div>