---
layout: default
title: Mountain Kid
extra_styles: ""
no_header: true
no_title: true
trim_class: sticky
with_nav: true
---

<div id="home">
  <div class="container">
    <div class="container inner-wrapper">

  <!--<img src='/assets/images/logos/stacked/compass.png'-->
  <!--     alt='Mountain Kid'-->
  <!--     class='img-responsive center-block hidden-xs hidden-sm'/>-->

  <!--<img src='/assets/images/logos/stacked/compass.png'-->
  <!--     alt='Mountain Kid'-->
  <!--     class='img-responsive center-block visible-xs-inline-block visible-sm-inline-block'/>-->
      
      {% include straplines.html %}
    </div>
  </div>
</div>

<div id="the-band">
  <div class="container">
    <div class="container inner-wrapper">
      <h1 class='main-title'>The Band</h1>
      {% include the-band.html %}
    </div>
  </div>
</div>
<div id="gigs">
  <div class="container">
    <div class="container inner-wrapper">
      <div class="panel">
        <h1 class='main-title'>Gigs</h1>
        {% include gigs.html %}
      </div>
    </div>
  </div>
</div>
<div id="media">
  <div class="container">
    <div class="container inner-wrapper">
      <h1 class='main-title'>Media</h1>
      <h3 class='lead'>sounds</h3>
      {% include sounds.html %}
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<div id="pictures">-->
<!--  <div class="container">-->
<!--    <div class="container inner-wrapper">-->
      
      
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<div id="videos">-->
<!--  <div class="container">-->
<!--    <div class="container inner-wrapper">-->
      <h3 class='lead'>videos</h3>
      {% include videos.html %}
    </div>
  </div>
</div>
<div id="book-the-band">
  <div class="container">
    <div class="container inner-wrapper">
      <h1 class='main-title'>Bookings</h1>
      {% include book-the-band.html %}
    </div>
  </div>
</div>
<div id="feedback">
  <div class="container">
    <div class="container inner-wrapper">
      <h1 class='main-title'>Reviews</h1>
      {% include feedback.html %}
    </div>
  </div>
</div>
<!--<div id="merchandise">-->
<!--  <div class="container inner-wrapper">-->
<!--    <h1 class='main-title'>Merchandise</h1>-->

<!--  </div>-->
<!--</div>-->

