<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script type="text/javascript" src='/javascript/bootstrap-image-gallery.min.js'></script>
<script type="text/javascript" src='/javascript/blueimp-gallery.min.js'></script>
<script type="text/javascript" src='/assets/application.min.js'></script>
<script type="text/javascript">
    $('body').scrollspy({ target: '#navbar-highlight' })
</script>
<script type="text/javascript">
    $('.dropdown-toggle').dropdown()
</script>
<script type="text/javascript" src="assets/soundcloud.player.api.js"></script>
<script type="text/javascript">
   soundcloud.addEventListener('onPlayerReady', function(player, data) {
     player.api_play();
   });
</script>