<!-- Brand and toggle get grouped for better mobile display -->
<div class='navbar-header'>
  <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navbar-collapse'>
    <span class='sr-only'>Toggle navigation</span>
    <span class='icon-bar'></span>
    <span class='icon-bar'></span>
    <span class='icon-bar'></span>
  </button>
  <a class="navbar-brand" href="{{ site.baseurl }}/">
    <img alt="Mountain Kid" src="/assets/images/logos/wide/logo-white-250px.png" class="img-responsive">
  </a>
</div>
