<div class="fixed-top">
<nav class="nav-container nav-collapse no-select">
	<ul class="inline-list hover-links nav-list">
		<li class="navbar-brand hidden-xs"><a href="{{ site.baseurl }}/" class="hidden-xs">MOUNTAIN KID</a></li>
		<li><a href="#gigs" class="page-scroll">Gigs</a></li>
		<li><a href="#media" class="page-scroll">Media</a></li>
		<li><a href="#shop" class="page-scroll">Shop</a></li>
		<li><a href="#book-the-band" class="page-scroll">Contact</a></li>
	</ul>
</nav>
<a id="mobile-nav"><i class="fa fa-bars" aria-hidden="true"></i> MOUNTAIN KID</a>
</div>