<a name="pictures"></a>
<div id="links">
  
  <div class='row'>
    <div class='col-md-2 col-sm-2 hidden-xs'></div>
    <div class='col-md-8 text-center'>
    {% for member in site.data.band %}

      {% capture thumbnail %}/assets/images/the-band/thumbnails/{{ member.image }}{% endcapture %}
      {% capture full_image %}/assets/images/the-band/{{ member.image }}{% endcapture %}
      {% include lightbox.html cols = 4 class = 'lightbox' title = member.name thumbnail = thumbnail full_image = full_image %}
    {% endfor %}
    {% for picture in site.data.pics %}
      {% include lightbox.html cols = 4 class = 'lightbox' thumbnail = picture.thumbnail title = picture.title full_image = picture.full_image %}
    {% endfor %}
    </div>
    <div class='col-md-2 col-sm-2 hidden-xs'></div>
  </div>
</div>



