<!------->
<!--title: Reviews-->
<!------->
<a name="feedback"></a>
<div class='row'>
  <div class='col-md-3'></div>
  <div class='col-md-6'>
    <dl class='reviews'>
      {% for review in site.data.reviews reversed %}
        <dt>
          '{{ review.quote }}'
        </dt>
        <dd>
          -- {{ review.source }}
        </dd>
        {% if forloop.rindex0 > 0 %}
          <hr />
        {% endif %}
      {% endfor %}
      </dl>
  </div>
  <div class='col-md-3'></div>
</div>

<section class='call-for-feedback'>
  <h1>
    Please send us your feedback on <a href='https://twitter.com/{{ site.twitter_username }}' target="_blank">Twitter</a>, <a href='https://facebook.com/{{ site.facebook_username }}' target="_blank">Facebook</a>.
  </h1>
</section>
