<div class="container-fluid">
<div>
  <h3>news ::</h3>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#current" aria-controls="current" role="tab" data-toggle="tab">Current</a></li>
    <li role="presentation"><a href="#history" aria-controls="history" role="tab" data-toggle="tab">Archive</a></li>
    <!-- <li role="presentation"><a id="dLabel" aria-haspopup="true" aria-expanded="false" role="tab" data-toggle="dropdown">Archive <span class="caret"></span></a> -->
    </li>    
</ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="current">
    {% for post in site.data.news %} {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %} {% capture this_month %}{{ post.date | date: "%B" }}{% endcapture %} {% if post.active == true %}
                <br />
                <p><strong>{{ post.category }}</strong></p>
                <p>{{ post.date }} {{ post.day }} "{{ post.title }}"</p>
                <p>{{ post.description }}</p>
                <br />
    {% endif %} {% endfor %}
    </div>
    <div role="tabpanel" class="tab-pane" id="history">
    <ul class="side-bar">
        <li><a href="#2016news" aria-controls="2016news" data-toggle="tab">2016</a></li>
        <li><a href="#2015news" aria-controls="2015news" data-toggle="tab">2015</a></li>
        <li><a href="#2014news" aria-controls="2014news" data-toggle="tab">2014</a></li>
    </ul>
    </div>
    <div role="tabpanel" class="tab-pane" id="2016news">
    <ul class="side-bar">
        <li><a href="#2016news" aria-controls="2016news" data-toggle="tab">2016</a></li>
        <li><a href="#2015news" aria-controls="2015news" data-toggle="tab">2015</a></li>
        <li><a href="#2014news" aria-controls="2014news" data-toggle="tab">2014</a></li>
    </ul>
    {% for post in site.data.news %} {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %} {% capture this_month %}{{ post.date | date: "%B" }}{% endcapture %} {% if this_year == "2016" %} {% if post.active == false %}
                <br />
                <p><strong>{{ post.category }}</strong></p>
                <p>{{ post.date }} {{ post.day }} "{{ post.title }}"</p>
                <p>{{ post.description }}</p>
                <br />
    {% endif %} {% endif %} {% endfor %}
    </div>
    <div role="tabpanel" class="tab-pane" id="2015news">
    <ul class="side-bar">
        <li><a href="#2016news" aria-controls="2016news" data-toggle="tab">2016</a></li>
        <li><a href="#2015news" aria-controls="2015news" data-toggle="tab">2015</a></li>
        <li><a href="#2014news" aria-controls="2014news" data-toggle="tab">2014</a></li>
    </ul>
    {% for post in site.data.news %} {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %} {% capture this_month %}{{ post.date | date: "%B" }}{% endcapture %} {% if this_year == "2015" %} {% if post.active == false %}
                <br />
                <p><strong>{{ post.category }}</strong></p>
                <p>{{ post.date }} {{ post.day }} "{{ post.title }}"</p>
                <p>{{ post.description }}</p>
                <br />
    {% endif %} {% endif %} {% endfor %}
    </div>
    <div role="tabpanel" class="tab-pane" id="2014news">
    <ul class="side-bar">
        <li><a href="#2016news" aria-controls="2016news" data-toggle="tab">2016</a></li>
        <li><a href="#2015news" aria-controls="2015news" data-toggle="tab">2015</a></li>
        <li><a href="#2014news" aria-controls="2014news" data-toggle="tab">2014</a></li>
    </ul>
    {% for post in site.data.news %} {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %} {% capture this_month %}{{ post.date | date: "%B" }}{% endcapture %} {% if this_year == "2014" %} {% if post.active == false %}
                <br />
                <p><strong>{{ post.category }}</strong></p>
                <p>{{ post.date }} {{ post.day }} "{{ post.title }}"</p>
                <p>{{ post.description }}</p>
                <br />
    {% endif %} {% endif %} {% endfor %}
    </div>
  </div>

</div>
</div>	