<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
<div class="thumbnail">
<img src="https://dl.dropboxusercontent.com/u/90320376/omega-large.jpg" class="img-responsive disc" alt="Album Cover">
<div class="caption">
<h3>The Realist : &Omega; - EP</h3>


<ul class="list-unstyled">
	<li>1 - Spectacle</li>
	<li>2 - The Tick</li>
	<li>3 - The Realist</li>
	<li>4 - Cross This Body</li>
	<li>5 - No Ghost</li>
</ul>
</div>
</div>
		</div>

		<div class="col-md-4">
<div class="thumbnail">
<img src="https://dl.dropboxusercontent.com/u/90320376/alpha-large.jpg" class="img-responsive disc" alt="Album Cover">
<div class="caption">
<h3>The Realist : &alpha; - EP</h3>


<ul class="list-unstyled">
	<li>1 - Monotony</li>
	<li>2 - Feet First</li>
	<li>3 - Darkness on the Run</li>
	<li>4 - Stop</li>
	<li>5 - Amnesiawake</li>
</ul>
</div>
</div>
		</div>

		<div class="col-md-4">
<div class="thumbnail">
<img src="https://dl.dropboxusercontent.com/u/90320376/single-large.jpg" class="img-responsive disc" alt="Album Cover">
<div class="caption">
<h3>Kallipolis - Single</h3>


<ul class="list-unstyled">
	<li>1 - Kallipolis</li>
</ul>
</div>
</div>
		</div>
	</div>
</div>