<ul class="list-inline text-center center-block social-icons">
      {% if site.facebook_username %}
        {% include icon-facebook.html %}
      {% endif %}
      {% if site.instagram_username %}
        {% include icon-instagram.html %}
      {% endif %}
      {% if site.soundcloud_username %}
        {% include icon-soundcloud.html %}
      {% endif %}
      {% if site.twitter_username %}
        {% include icon-twitter.html %}
      {% endif %}
      {% if site.youtube_username %}
        {% include icon-youtube.html %}
      {% endif %}
</ul>
<!-- /.social-icons -->