<!------->
<!--title: Sounds-->
<!------->
<a name="sounds"></a>
<script src="https://connect.soundcloud.com/sdk/sdk-3.0.0.js"></script>
<script>
  SC.initialize({
    client_id: '86b258e3d9970e71e899307bad7f7c09'
  });
</script>

<div class='row'>
  <div class='col-md-4'>
    &nbsp;
  </div>
  {% for sound in site.data.soundcloud limit:1 %}
    {% include sound-thumb.html title = sound.title image = sound.image location = sound.location engineer = sound.engineer date = sound.date license = sound.license license_url = sound.license_url width = 4 %}
  {% endfor %}
  <div class='col-md-4'>
    &nbsp;
  </div>
</div>
<div class='row'>
  <div class='col-md-1 hidden-sm hidden-xs'>
    &nbsp;
  </div>  
  {% for sound in site.data.soundcloud limit:5 offset:2 %}
    {% include sound-cell.html id = sound.id title = sound.title location = sound.location engineer = sound.engineer date = sound.date license = sound.license license_url = sound.license_url width = 2 %}
  {% endfor %}
   <div class='col-md-1 hidden-sm hidden-xs'>
    &nbsp;
  </div> 
</div>

<div class='row'>
  <div class='col-md-4'>
    &nbsp;
  </div>  
  {% for sound in site.data.soundcloud limit:1 offset:1 %}
    {% include sound-thumb.html title = sound.title image = sound.image location = sound.location engineer = sound.engineer date = sound.date license = sound.license license_url = sound.license_url width = 4%}
  {% endfor %}
  <div class='col-md-4'>
    &nbsp;
  </div>  
</div>
<div class='row'>  
  <div class='col-md-1 hidden-sm hidden-xs'>
    &nbsp;
  </div>
  {% for sound in site.data.soundcloud limit:5 offset:7 %}
    {% include sound-cell.html id = sound.id title = sound.title location = sound.location engineer = sound.engineer date = sound.date license = sound.license license_url = sound.license_url width = 2 %}
  {% endfor %}
  <div class='col-md-1 hidden-sm hidden-xs'>
    &nbsp;
  </div>
</div>

<!--<div class='row'>-->
  {% for sound in site.data.soundcloud limit:0 offset:2 %}
    {% include sound-cell.html id = sound.id title = sound.title location = sound.location engineer = sound.engineer date = sound.date license = sound.license license_url = sound.license_url width = 3 %}
  {% endfor %}
<!--</div>-->


<!--<div class='row'>-->
  {% for sound in site.data.soundcloud limit:0 offset:6 %}
    {% include sound-cell.html id = sound.id title = sound.title location = sound.location engineer = sound.engineer date = sound.date license = sound.license license_url = sound.license_url width = 3 %}
  {% endfor %}
<!--</div>-->