<a name="the-band"></a>
<div class='the-band'>
  <div class="row">
    {% for member in site.data.band %}
      {% capture thumbnail %}/images/the-band/thumbnails/{{ member.image }}{% endcapture %}
      {% capture name %}{{ member.name }}{% endcapture %}
      {% capture instrument %}{{ member.instrument }}{% endcapture %}
      <div class="three columns">
      	{{ name }}<br />
      	{{ instrument }}<hr />
      	<img src="{{ site.baseurl }}{{ thumbnail }}" class="u-full-width" alt="{{ name }}" />
  	  </div>
    {% endfor %}
  </div>
</div>