<a name="videos"></a>
{% for video in site.data.youtube %}
<div class='row'>
  <div class='col-md-3 hidden-xs'></div>
    <div class='col-md-6'>
      <section class='thumbnail youtube'>
        <div class='embed-responsive embed-responsive-16by9'>
          {% include video.html id = video.id %}
        </div>
         <dl class=" caption dl-horizontal">
          <dt>
            License:
          </dt>
          <dd>
            <a href='{{ video.license_url}}'>{{ site.data.licenses[video.license].short-name }}</a>
          </dd>
        </dl>
      </section>
    </div>
  <div class='col-md-3 hidden-xs'></div>  
</div>  
{% endfor %}
