.wrapper { 
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
}

.inner-wrapper {
    padding-top: 25vh;
    min-height: 100vh;
}

.panel {
    background-color: rgba(155,205,155,0.4);
}

.thumbnail {
    background-color: transparent;
}

// #home .inner-wrapper,
// #the-band .inner-wrapper,
// #sounds .inner-wrapper,
// #feedback .inner-wrapper,
// #videos .inner-wrapper,
// #book-the-band .inner-wrapper,
// #foo .inner-wrapper,
// #merchandise .inner-wrapper,
// #licensing .inner-wrapper,
// #gig-layout .inner-wrapper

#home img {
    padding-top: 25vh;
}

p#strapline {
    color: #eee;
}

p#strapline .alpha-album {
    color: $rfm-orange;
}

p#strapline .omega-album {
    color: $rfm-green;
}

/* default screen, non-retina */
#home {
    min-height: 100vh;
    background: url('images/backgrounds/theband/10848916_330927203777248_5507607099657318282_o970.jpg');
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: scroll;
	background-size:  cover;
    background-color: $mk-back;
    background-blend-mode: darken;
    box-shadow: 0 0 150px 150px $mk-box inset;
}
#the-band {
    background-color: $mk-back;
    background-size: cover;
}
#gigs {
    min-height: 100vh;
    background: url('images/backgrounds/background970.jpg');
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: scroll;
	background-size:  cover;
    background-color: $mk-back;
    background-blend-mode: darken;
    box-shadow: 0 0 150px 150px $mk-box inset;
}
#sounds {
    background-color: $mk-back;
    background-size: cover;
}
#feedback {
    min-height: 100vh;
    background: url('images/backgrounds/mountain-bg.gif');
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: scroll;
	background-size:  cover;
    background-color: $mk-back;
    background-blend-mode: darken;
    box-shadow: 0 0 150px 150px $mk-box inset;
}
#videos {
    background-color: $mk-back;
    background-size: cover;
}
#book-the-band {
    min-height: 100vh;
    background: url('images/backgrounds/theband/12771610_505327723003861_6557875998358551396_o970.jpg');
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: scroll;
	background-size:  cover;
    background-color: $mk-back;
    background-blend-mode: darken;
    box-shadow: 0 0 150px 150px $mk-box inset;
}
#foo {
    background-color: $mk-back;
    background-size: cover;
}
#merchandise {
    background: url('/assets/images/backgrounds/background970.jpg');
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: scroll;
	background-size:  cover;
}
#licensing {
    background: url('/assets/images/backgrounds/background970.jpg');
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: scroll;
	background-size:  cover;
}

@media only screen and (max-width: 320px) {
    /* Small screen, non-retina */
    #home {
        min-height: 100vh;
        background: url('images/backgrounds/theband/10848916_330927203777248_5507607099657318282_o320.jpg');
	    background-position: center center;
	    background-repeat:  no-repeat;
	    background-attachment: scroll;
	    background-size:  cover;
        // background-size: cover;
        background-color: $mk-back;
        background-blend-mode: darken;
        box-shadow: 0 0 150px 150px $mk-box inset;
    }
    #the-band {
        background-color: $mk-back;
        background-size: cover;
    }
    #gigs {
        min-height: 100vh;
        background: url('images/backgrounds/background320.jpg');
	    background-position: center center;
	    background-repeat:  no-repeat;
	    background-attachment: scroll;
	    background-size:  cover;
        // background-size: cover;
        background-color: $mk-back;
        background-blend-mode: darken;
        box-shadow: 0 0 150px 150px $mk-box inset;
    }
    #sounds {
        background-color: $mk-back;
        background-size: cover;
    }
    #feedback {
        min-height: 100vh;
        background: url('images/backgrounds/mountain-bg.gif');
	    background-position: center center;
	    background-repeat:  no-repeat;
	    background-attachment: scroll;
	    background-size:  cover;
        background-color: $mk-back;
        background-blend-mode: darken;
        box-shadow: 0 0 150px 150px $mk-box inset;
    }
    #videos {
        background-color: $mk-back;
        background-size: cover;
    }
    #book-the-band {
        min-height: 100vh;
        // background: url('images/backgrounds/theband/12771610_505327723003861_6557875998358551396_o320.jpg');
	    background-position: center center;
	    background-repeat:  no-repeat;
	    background-attachment: scroll;
	    background-size:  cover;
        background-color: $mk-back;
        background-blend-mode: darken;
        box-shadow: 0 0 150px 150px $mk-box inset;
    }
    #foo {
        background-color: $mk-back;
        background-size: cover;
    }
    #merchandise {
        background: url('/assets/images/backgrounds/background320.jpg');
		background-position: center center;
		background-repeat:  no-repeat;
		background-attachment: scroll;
		background-size:  cover;
    }
    #licensing {
        background: url('/assets/images/backgrounds/background320.jpg');
	    background-position: center center;
	    background-repeat:  no-repeat;
	    background-attachment: scroll;
	    background-size:  cover;
    }
}
@media
only screen and (min-resolution: 2dppx) and (max-width: 320px) {
    /* Small screen, retina */
    #home {
        min-height: 100vh;
        background: url('images/backgrounds/theband/10848916_330927203777248_5507607099657318282_o320@2x.jpg');
	    background-position: center center;
	    background-repeat:  no-repeat;
	    background-attachment: scroll;
	    background-size:  cover;
        // background-size: cover;
        background-color: $mk-back;
        background-blend-mode: darken;
        box-shadow: 0 0 150px 150px $mk-box inset;
    }
    #the-band {
        background-color: $mk-back;
        background-size: cover;
    }
    #gigs {
        min-height: 100vh;
        background: url('images/backgrounds/background320@2x.jpg');
	    background-position: center center;
	    background-repeat:  no-repeat;
	    background-attachment: scroll;
	    background-size:  cover;
        // background-size: cover;
        background-color: $mk-back;
        background-blend-mode: darken;
        box-shadow: 0 0 150px 150px $mk-box inset;
    }
    #sounds {
        background-color: $mk-back;
        background-size: cover;
    }
    #feedback {
        min-height: 100vh;
        background: url('images/backgrounds/mountain-bg.gif');
	    background-position: center center;
	    background-repeat:  no-repeat;
	    background-attachment: scroll;
	    background-size:  cover;
        // background-size: cover;
        background-color: $mk-back;
        background-blend-mode: darken;
        box-shadow: 0 0 150px 150px $mk-box inset;
    }
    #videos {
        background-color: $mk-back;
        background-size: cover;
    }
    #book-the-band {
        min-height: 100vh;
        background: url('images/backgrounds/theband/12771610_505327723003861_6557875998358551396_o320@2x.jpg');
	    background-position: center center;
	    background-repeat:  no-repeat;
	    background-attachment: scroll;
	    background-size:  cover;
        // background-size: cover;
        background-color: $mk-back;
        background-blend-mode: darken;
        box-shadow: 0 0 150px 150px $mk-box inset;
    }
    #foo {
        background-color: $mk-back;
        background-size: cover;
    }
    #merchandise {
        background: url('/assets/images/backgrounds/background320@2x.jpg');
	    background-position: center center;
	    background-repeat:  no-repeat;
	    background-attachment: scroll;
	    background-size:  cover;
    }
    #licensing {
        background: url('/assets/images/backgrounds/background320@2x.jpg');
	    background-position: center center;
	    background-repeat:  no-repeat;
	    background-attachment: scroll;
	    background-size:  cover;
    }
}
@media only screen and (min-width: 321px) and (max-width: 538px) {
    /* Medium screen, non-retina */
    #home {
        min-height: 100vh;
        background: url('images/backgrounds/theband/10848916_330927203777248_5507607099657318282_o538.jpg');
	    background-position: center center;
	    background-repeat:  no-repeat;
	    background-attachment: scroll;
	    background-size:  cover;
        background-size: contain;
        background-color: $mk-back;
        background-blend-mode: darken;
        box-shadow: 0 0 150px 150px $mk-box inset;
    }
    #the-band {
        background-color: $mk-back;
        background-size: cover;
    }
    #gigs {
        min-height: 100vh;
        background: url('images/backgrounds/background538.jpg');
	    background-position: center center;
	    background-repeat:  no-repeat;
	    background-attachment: scroll;
	    background-size:  cover;
        background-size: contain;
        background-color: $mk-back;
        background-blend-mode: darken;
        box-shadow: 0 0 150px 150px $mk-box inset;
    }
    #sounds {
        background-color: $mk-back;
        background-size: cover;
    }
    #feedback {
        min-height: 100vh;
        background: url('images/backgrounds/mountain-bg.gif');
	    background-position: center center;
	    background-repeat:  no-repeat;
	    background-attachment: scroll;
	    background-size:  cover;
        background-size: contain;
        background-color: $mk-back;
        background-blend-mode: darken;
        box-shadow: 0 0 150px 150px $mk-box inset;
    }
    #videos {
        background-color: $mk-back;
        background-size: cover;
    }
    #book-the-band {
        min-height: 100vh;
        background: url('images/backgrounds/theband/12771610_505327723003861_6557875998358551396_o538.jpg');
	    background-position: center center;
	    background-repeat:  no-repeat;
	    background-attachment: scroll;
	    background-size:  cover;
        background-size: contain;
        background-color: $mk-back;
        background-blend-mode: darken;
        box-shadow: 0 0 150px 150px $mk-box inset;
    }
    #foo {
        background-color: $mk-back;
        background-size: cover;
    }
    #merchandise {
        background: url('/assets/images/backgrounds/background538.jpg');
	    background-position: center center;
	    background-repeat:  no-repeat;
	    background-attachment: scroll;
	    background-size:  cover;
    }
    #licensing {
        background: url('/assets/images/backgrounds/background538.jpg');
	    background-position: center center;
	    background-repeat:  no-repeat;
	    background-attachment: scroll;
	    background-size:  cover;
    }
}
@media
only screen and (min-resolution: 2dppx) and (min-width: 321px) and (max-width: 538px) {
    /* Medium screen, retina */
    #home {
        min-height: 100vh;
        background: url('images/backgrounds/theband/10848916_330927203777248_5507607099657318282_o538@2x.jpg');
	    background-position: center center;
	    background-repeat:  no-repeat;
	    background-attachment: scroll;
	    background-size:  cover;
        background-size: contain;
        background-color: $mk-back;
        background-blend-mode: darken;
        box-shadow: 0 0 150px 150px $mk-box inset;
    }
    #the-band {
        background-color: $mk-back;
        background-size: cover;
    }
    #gigs {
        min-height: 100vh;
        background: url('images/backgrounds/background538@2x.jpg');
	    background-position: center center;
	    background-repeat:  no-repeat;
	    background-attachment: scroll;
	    background-size:  cover;
        background-size: contain;
        background-color: $mk-back;
        background-blend-mode: darken;
        box-shadow: 0 0 150px 150px $mk-box inset;
    }
    #sounds {
        background-color: $mk-back;
        background-size: cover;
    }
    #feedback {
        min-height: 100vh;
        background: url('images/backgrounds/mountain-bg.gif');
	    background-position: center center;
	    background-repeat:  no-repeat;
	    background-attachment: scroll;
	    background-size:  cover;
        background-size: contain;
        background-color: $mk-back;
        background-blend-mode: darken;
        box-shadow: 0 0 150px 150px $mk-box inset;
    }
    #videos {
        background-color: $mk-back;
        background-size: cover;
    }
    #book-the-band {
        min-height: 100vh;
        background: url('images/backgrounds/theband/12771610_505327723003861_6557875998358551396_o538@2x.jpg');
	    background-position: center center;
	    background-repeat:  no-repeat;
	    background-attachment: scroll;
	    background-size:  cover;
        background-size: contain;
        background-color: $mk-back;
        background-blend-mode: darken;
        box-shadow: 0 0 150px 150px $mk-box inset;
    }
    #foo {
        background-color: $mk-back;
        background-size: cover;
    }
    #merchandise {
        background: url('/assets/images/backgrounds/background538@2x.jpg');
	    background-position: center center;
	    background-repeat:  no-repeat;
	    background-attachment: scroll;
	    background-size:  cover;
    }
    #licensing {
        background: url('/assets/images/backgrounds/background538@2x.jpg');
	    background-position: center center;
	    background-repeat:  no-repeat;
	    background-attachment: scroll;
	    background-size:  cover;
    }
}
@media
only screen and (min-resolution: 2dppx) and (min-width: 539px) {
    /* Large screen, retina */
    #home {
        min-height: 100vh;
        background: url('images/backgrounds/theband/10848916_330927203777248_5507607099657318282_o970@2x.jpg');
	    background-position: center center;
	    background-repeat:  no-repeat;
	    background-attachment: scroll;
	    background-size:  cover;
        background-color: $mk-back;
        background-blend-mode: darken;
        box-shadow: 0 0 150px 150px $mk-box inset;
    }
    #the-band {
        background-color: $mk-back;
        background-size: cover;
    }
    #gigs {
        min-height: 100vh;
        background: url('images/backgrounds/background970@2x.jpg');
	    background-position: center center;
	    background-repeat:  no-repeat;
	    background-attachment: scroll;
	    background-size:  cover;
        background-color: $mk-back;
        background-blend-mode: darken;
        box-shadow: 0 0 150px 150px $mk-box inset;
    }
    #sounds {
        background-color: $mk-back;
        background-size: cover;
    }
    #feedback {
        min-height: 100vh;
        background: url('images/backgrounds/mountain-bg.gif');
	    background-position: center center;
	    background-repeat:  no-repeat;
	    background-attachment: scroll;
	    background-size:  cover;
        background-color: $mk-back;
        background-blend-mode: darken;
        box-shadow: 0 0 150px 150px $mk-box inset;
    }
    #videos {
        background-color: $mk-back;
        background-size: cover;
    }
    #book-the-band {
        min-height: 100vh;
        background: url('images/backgrounds/theband/12771610_505327723003861_6557875998358551396_o970@2x.jpg');
	    background-position: center center;
	    background-repeat:  no-repeat;
	    background-attachment: scroll;
	    background-size:  cover;
        background-color: $mk-back;
        background-blend-mode: darken;
        box-shadow: 0 0 150px 150px $mk-box inset;
    }
    #foo {
        background-color: $mk-back;
        background-size: cover;
    }
    #merchandise {
        background: url('/assets/images/backgrounds/background970@2x.jpg');
	    background-position: center center;
	    background-repeat:  no-repeat;
	    background-attachment: scroll;
	    background-size:  cover;
    }
    #licensing {
        background: url('/assets/images/backgrounds/background970@2x.jpg');
	    background-position: center center;
	    background-repeat:  no-repeat;
	    background-attachment: scroll;
	    background-size:  cover;
    }
}