.soundcloud, .band-member, .youtube {
  .caption {
    font-size: 0.9em;
    padding: 5px;

    dt {
      color: $mk-alpha;
      white-space: normal;
    }

    dd {
      color: #eee;
    }
  }

  span.plain {
    color: black;
  }
}

.attribution {
  font-size: 0.5em;
  background: $mk-alpha;
  a {
    color: $mk-omega;
  }
}
