.soundcloud, .flickr, .band-member, .vimeo {
  .caption {
    font-size: 0.9em;
    padding: 5px;

    dt {
      width: 100%;
      margin-left: 0px;
      color: $rfm-orange;
      white-space: normal;
    }

    dd {
      margin-left: 5px;
      color: #eee;
    }
  }

  span.plain {
    color: black;
  }
}

.attribution {
  font-size: 0.5em;
  background: $rfm-orange;
  a {
    color: $rfm-green;
  }
}
