$footer-height: 50px;

body {
  /* Margin bottom by footer height */
  margin-bottom: $footer-height;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-transform: lowercase;

  margin-top: $padding-large-vertical;
  background-color: transparent;

  opacity: 1;
  color: white;
  height: $footer-height;

  padding: $padding-large-vertical $padding-large-horizontal;

  a {
    color: #eee;
  }

  a:hover {
    background: $mk-alpha;
    text-decoration: none;
  }
}
