$header-height:0px;

.header {
  width: 100%;
  background-color: transparent;
  height: $header-height;
  opacity: 1.0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dbdee2;
	padding-top: 0px;
	background-color: transparent;
	z-index: 999;

  .logo {
    height: auto;
  }

  .little-logo {
    width: 80%;
    height: auto;
    position: relative;
  }
  
  .navbar-brand {
    max-width: 70%;
    height: auto;
    position: relative;
  }

  .header-container {
    width: 100%;
  }
}
