.wrapper { 
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
}

.inner-wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
}

.panel {
    background-color: $mk-inset;
}

.thumbnail {
    background-color: transparent;
}

/* default screen, non-retina */
#cover, #campfire {
    min-height: 750px;
}
#cover {
    background: url('images/backgrounds/theband/10848916_330927203777248_5507607099657318282_o970.jpg');
    img {
        padding-top: 25vh;
    }
}
// #media {
//     background: url('images/backgrounds/mkdisk_white970.png');
// }
#campfire {
    background: url('images/backgrounds/mk_shadow_970.jpg');
}
#book-the-band-bk {
    background: url('images/backgrounds/theband/12771610_505327723003861_6557875998358551396_o970.jpg');
}

@media only screen and (max-width: 320px) {
    /* Small screen, non-retina */
    #cover, #campfire {
        min-height: 500px;
    }    
    #cover {
        background: url('images/backgrounds/theband/10848916_330927203777248_5507607099657318282_o320.jpg');
    }
    // #media {
    //     background: url('images/backgrounds/mkdisk_white320.png');
    // }
    #campfire {
        background: url('images/backgrounds/mk_shadow_320.jpg');
    }
    #book-the-band-bk {
        background: url('images/backgrounds/theband/12771610_505327723003861_6557875998358551396_o320.jpg');
    }
}
@media only screen and (min-resolution: 2dppx) and (max-width: 320px) {
    /* Small screen, retina */
    #cover, #campfire {
        min-height: 500px;
    }    
    #cover {
        background: url('images/backgrounds/theband/10848916_330927203777248_5507607099657318282_o320@2x.jpg');
    }
    // #media {
    //     background: url('images/backgrounds/mkdisk_white320@2x.png');
    // }
    #campfire {
        background: url('images/backgrounds/mk_shadow_320@2x.jpg');
    }
    #book-the-band-bk {
        background: url('images/backgrounds/theband/12771610_505327723003861_6557875998358551396_o320@2x.jpg');
    }
}
@media only screen and (min-width: 321px) and (max-width: 538px) {
    /* Medium screen, non-retina */
    #cover, #campfire {
        min-height: 600px;
    }    
    #cover {
        background: url('images/backgrounds/theband/10848916_330927203777248_5507607099657318282_o538.jpg');
    }
    // #media {
    //     background: url('images/backgrounds/mkdisk_white538.png');
    // }
    #campfire {
        background: url('images/backgrounds/mk_shadow_538.jpg');
    }

    #book-the-band-bk {
        background: url('images/backgrounds/theband/12771610_505327723003861_6557875998358551396_o538.jpg');
    }
}
@media only screen and (min-resolution: 2dppx) and (min-width: 321px) and (max-width: 538px) {
    /* Medium screen, retina */
    #cover, #campfire {
        min-height: 600px;
    }    
    #cover {
        background: url('images/backgrounds/theband/10848916_330927203777248_5507607099657318282_o538@2x.jpg');
    }
    // #media {
    //     background: url('images/backgrounds/mkdisk_white538@2x.png');
    // }
    #campfire {
        background: url('images/backgrounds/mk_shadow_538@2x.jpg');
    }
    #book-the-band-bk {
        background: url('images/backgrounds/theband/12771610_505327723003861_6557875998358551396_o538@2x.jpg');
    }
}
@media only screen and (min-resolution: 2dppx) and (min-width: 539px) {
    /* Large screen, retina */
    #cover, #campfire {
        min-height: 750px;
    }    
    #cover {
        background: url('images/backgrounds/theband/10848916_330927203777248_5507607099657318282_o970@2x.jpg');
    }
    // #media {
    //     background: url('images/backgrounds/mkdisk_white970@2x.png');
    // }
    #campfire {
        background: url('images/backgrounds/mk_shadow_970@2x.jpg');
    }
    #book-the-band-bk {
        background: url('images/backgrounds/theband/12771610_505327723003861_6557875998358551396_o970@2x.jpg');
    }
}
#cover, #campfire {
	background-position: center bottom;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
    background-color: $mk-back;
    background-blend-mode: lighten;
    box-shadow: 0 0 100px 100px $mk-box inset;
}

// #media {
//     background-position: center center;
// 	background-repeat: no-repeat;
// 	background-attachment: fixed;
// 	background-size: contain;
//     background-color: $mk-back;
//     background-blend-mode: lighten;
// }
// @media only screen and (max-width: 320px) {
//     /* Small screen, non-retina */
//     #media {
//         box-shadow: 0 0 25px 25px $mk-box inset;
//     }
// }
// @media only screen and (min-width: 321px) and (max-width: 538px) {
//     /* Medium screen, non-retina */
//     #media {
//         box-shadow: 0 0 50px 50px $mk-box inset;
//     }    
// }
// @media only screen and (min-width: 539px) {
//     /* Large screen, non-retina */
//     #cover, #media, #campfire {
//         box-shadow: 0 0 300px 300px $mk-box inset;
//     }
// }