#shop .container {
	border-radius: 15px;
  background-color: #eee;
}
.item-block {
  margin: 1rem;
  a {
    text-align: center;
    padding: 0;
    margin: 0 auto;
  }
}
.review {
  position: relative;
  display: block;
  width:  90%;
  margin: 0 auto;
  dt {
    font-size: 1.5em;
  }

  dd {
    font-size: 1.0em;
    text-align: right;
  }
}