/* Global Properties */

html,
body {
  background-color: rgb(55,55,55);
  padding-top: 70px;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.wrapper#default {
  display: table;
  background: url(../images/mountain-bg.gif) no-repeat center center fixed;
  background-size: cover;
  background-color: rgb(55,55,55);
  padding-top: 70px;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.wrapper#page {
  display: table;
  background: url(../images/mountain-render-bg.jpg) no-repeat center center fixed;
  background-size: cover;
  background-color: rgb(55,55,55);
  padding-top: 70px;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.masthead .inner section {
  height: 50vh; /* For at least Firefox */
  min-height: 50vh;
}

h1,
h2,
h3,
p,
blockquote,
span,
li,
a {
  font-family: 'Oswald', sans-serif;
  color: #eee;
}

/*a:hover {
  text-decoration: none;
}*/

/*a.active {
  text-decoration: underline;
}*/

hr {
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.wrapper {
  background-color: rgba(0, 0, 0, 0.4);
}

.site-wrapper-inner {
  display: table;
  padding-top: 150px;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

.panel {
  padding: 15PX;
  background-color: rgba(0, 0, 0, 0.4);
  color: #eee;
}

.thumbnail {
  background-color: rgba(0, 0, 0, 0.4);
}

.thumbnail li,
.thumbnail h3,
.thumbnail p {
  color: #eee;
}

p.post-meta {
  text-transform: uppercase;
}

/*li {
  list-style: none;
}*/

.full-width {
  margin: 0 auto;
  width: 100%;
}

#home,
#Biography,
#Discography,
#Contact {
  padding-top: 100px;
  min-width: 100%;
  min-height: 750px;
}
/* Navigation */

.brand {
  font-family: 'Sketch Block W03 Bold', sans-serif;
  font-size: 25px;
}

.navbar-inverse .navbar-brand:hover {
  transform: scale(1.25);
  transition: background-color .5s, transform .5s ease-out;
}

.navbar-collapse li a:hover {
  transform: scale(1.25);
  transition: background-color .5s, transform .5s ease-out;
}
/* Home Section */

.jumbotron {
	width:100%;
	margin:0px;
	padding:0px;
	min-height:100vh;
	padding-top:0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dbdee2;
	background-color:rgba(55,55,55,0.4); /* Change this to background-color:#fff; to make solid white */
	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
	transition:.3s;
	z-index:1;
}

.jumbotron h1,
.jumbotron img {
  font-family: 'Sketch Block W03 Bold', sans-serif;
  color: #1e1e1e;
  padding-top: 100px;
}

.social-icons a {
  display: inline-block;
  height: auto;
  height: auto;
  width: 5rem;
  width: 50px;
}

.brand-icon a {
  display: inline-block;
  height: auto;
  height: auto;
  width: 15rem;
  width: 150px;
}

svg {
  display: inline-block;
  height: 100%;
  width: 100%;
  color: #eee;
  fill: #eee;
}

.social-icons svg:hover {
  color: #ddd;
  fill: #ddd;
  transform: scale(1.25);
  transition: background-color .5s, transform .5s ease-out;
}

@media (max-width: 768px) {
  .social-icons a {
    display: inline-block;
    height: auto;
    height: auto;
    width: 3rem;
    width: 30px;
  }

.brand-icon a {
    display: inline-block;
    height: auto;
    height: auto;
    width: 15rem;
    width: 150px;
  }

  svg {
    display: inline-block;
    height: 75%;
    width: 75%;
    color: #eee;
    fill: #eee;
  }
  h3.masthead-brand {
    margin: 10px 50px 10px 50px;
  }
}
/* Biography Section */

#Biography {
  background-color: black;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
  background-size: cover;
}
/* Discography Section */

#Discography {
  background-color: black;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
  background-size: cover;
}

ul.side-bar li {
  display: inline-block;
  padding: 10px;
}

/* Contact Section */

#Contact {
  background-color: black;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
  background-size: cover;
}

/*
 * Header
 */
h3.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

h3.masthead-brand,
.masthead-nav > li {
  display: inline-block;
}
h3.masthead-brand,
.masthead-nav > li + li {
  margin-left: 20px;
}
h3.masthead-brand a > img,
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
h3.masthead-brand a:hover > img,
h3.masthead-brand a:focus > img,
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
h3.masthead-brand a > img.active,
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

/*mobile optimizations*/
nav > button {
  position: absolute;
  top: 0;
  right: 0;
}
.well {
  background-color: rgba(0, 0, 0, 0.6);
}
.masthead-nav > li.mobile {
  display: inline-block;
}
.masthead-nav > li.mobile + li {
  margin-left: 5px;
}
.masthead-nav > li.mobile > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 12px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li.mobile > a:hover,
.masthead-nav > li.mobile > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > li.mobile.active > a,
.masthead-nav > li.mobile.active > a:hover,
.masthead-nav > li.mobile.active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
  }
  .masthead-nav {
  }
  .masthead-social {
    float: right;
  }
}

/* Footer */

.section#main {
  background: url(../images/mountain-render-bg.jpg) no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  -webkit-box-shadow: inset 0 0 300px rgba(0,0,0,.9);
          box-shadow: inset 0 0 300px rgba(0,0,0,.9);
}

.section#second {
  background-image: none;
  background-color: rgb(55,55,55);
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.9);
          box-shadow: inset 0 0 100px rgba(0,0,0,.9);
}
 /*Portfolio Section */

/*#gigs {*/
/*  background: url(../images/mountain-render-bg.jpg) no-repeat center center fixed;*/
/*  background-size: cover;*/
/*}*/

/* Contact Section */

/*#bios {*/
/*  background: url(https://dl.dropboxusercontent.com/u/90320376/treemantis.jpg) no-repeat center center fixed;*/
/*  background-size: cover;*/
/*}*/

/*#disc {*/
/*  background: url(https://dl.dropboxusercontent.com/u/90320376/bikes.jpg) no-repeat center center fixed;*/
/*  background-size: cover;*/
/*}*/
/* Portfolio Section */

/*#pics {*/
/*  background: url(https://dl.dropboxusercontent.com/u/90320376/lands.jpg) no-repeat center center fixed;*/
/*  background-size: cover;*/
/*}*/