<!DOCTYPE html>
<html lang='en'>
  <head>
    {% include boilerplate.html %}

    <link rel='icon' type='image/png' href='/assets/favicon.ico' />
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">-->
    <!--<link rel='stylesheet' href='/assets/application.min.css' type='text/css' />-->
    <!--<link rel='stylesheet' href='/assets/css/bootstrap-image-gallery.min.css' type='text/css' />-->
    <!--<link rel='stylesheet' href='/assets/css/blueimp-gallery.min.css' type='text/css' />-->
    <style>{{ page.extra_styles }}</style>
    {% assign title = page.title %}
    {% if page.pretitle %}
      {% capture title %}{{ page.pretitle}} » {{ page.title }}{% endcapture %}
    {% endif %}
    <title>{{ title }}</title>

    {% include open-graph.html %}

  </head>

  <body data-spy="scroll" data-target="#navbar-highlight">
    <link rel='stylesheet' href='/assets/application.css' type='text/css'/>
    {% unless page.no_header %}
      {% include header.html trim_class = page.trim_class %}
    {% endunless %}
    {% if page.with_nav %}
      {% include navigation.html trim_class = page.trim_class %}
    {% endif %}
    <div class='container-fluid wrapper'>
      {% unless page.no_title %}
        {% assign title = page.title %}
        {% if page.extra_title %}
          {% capture title %}{{ page.extra_title }} {{ title }}{% endcapture %}
        {% endif %}
        <h1 class='main-title'>{{ title }}</h1>
      {% endunless %}
      {{ content }}
      {% if page.license_these %}
        {% include license_note.html licensed = page.license_these version = page.license_version %}
      {% endif %}
    </div>
    <div class='container'>
      {% include footer.html trim_class = page.trim_class %}
      {% include js-boilerplate.html %}
    </div>
  </body>
</html>
